[Unit]
After=network.target auditd.service

[Service]
Type=forking
KillMode=process
ExecStart=/usr/local/bunny/bin/bunny_framework

[Install]
WantedBy=multi-user.target

